.botaoFavorito {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #ff4b4b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.botaoFavorito:hover {
  background-color: #cc0000;
}